﻿@{
    ViewData["Title"] = "Detalhes Concessionária";
    
}

@model ModeloVisualizaçãoConcessionária


<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Detalhes Concessionária
                        <a asp-controller="Concessionaria" asp-action="Listagem" class="btn btn-danger float-end">Voltar</a>
                    </h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Concessionaria" asp-action="Editar" method="POST">

                        <input hidden asp-for="ConcessionariaId" />

                        <div class="mb-3">
                            <label asp-for="Nome">Nome da concessionária</label>
                            <input asp-for="Nome" type="text" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CEP">Cep</label>
                            <input asp-for="CEP" type="text" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Endereco">Rua</label>
                            <input asp-for="Endereco" type="text" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Cidade">Cidade</label>
                            <input asp-for="Cidade" type="text" class="form-control" readonly>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Estado">Estado</label>
                            <input asp-for="Estado" type="text" class="form-control" readonly>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="Telefone">Telefone</label>
                            <input asp-for="Telefone" type="text" class="form-control" readonly>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" readonly>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CapacidadeMaximaVeiculos">Defina a capacidade máxima de veículos</label>
                            <input asp-for="CapacidadeMaximaVeiculos" type="number" min="1" class="form-control" readonly>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-danger">Excluir Concessionária</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script>
        document.addEventListener("DOMContentLoaded", () => {

            let cepField = document.getElementById("CEP");
            let enderecoField = document.getElementById("Endereco");
            let cidadeField = document.getElementById("Cidade");
            let estadoField = document.getElementById("Estado");

            cepField.addEventListener("change", () => {

                if (cepField.value.length >= 8) {

                    $.ajax(
                        {
                            typeof: "GET",
                            url: `https://viacep.com.br/ws/${cepField.value}/json/`,
                            success: function (resulto) {
                                enderecoField.value = resulto.logradouro;
                                cidadeField.value = resulto.localidade;
                                estadoField.value = resulto.uf;
                            },
                            error: function (request, status, error) { console.log(error) }
                        }
                    );

                }

            })
        })

    </script>

}