﻿@{
    ViewData["Title"] = "Nova Venda";

    List<string> erros = ViewBag.Erros;
    List<SelectListItem> veiculos = ViewBag.Veiculos;
    List<SelectListItem> concessionarias = ViewBag.Concs;
}

@model ModeloInserçãoVenda

@if (erros is not null && erros.Any())
{
    <ul>
        @foreach (string erro in erros)
        {

            <li><p style="color:red">@erro</p></li>
        }
    </ul>

}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Nova Venda
                        <a asp-controller="Venda" asp-action="Listagem" class="btn btn-danger float-end">Voltar</a>
                    </h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Venda" asp-action="Criar" method="POST">

                        <div class="mb-3">
                            <label asp-for="VeiculoId">Selecione o veículo desejado</label>
                            <select required asp-for="VeiculoId" id="VeiculoSelect" class="form-control" asp-items="veiculos">
                                <option value="">Selecione</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConcessionariaId">Selecione a concessionária desejado</label>
                            <select required asp-for="ConcessionariaId" id="ConcessionariaSelect" class="form-control" asp-items="concessionarias">
                                <option value="">Selecione</option>
                            </select>

                        </div>


                        <div class="mb-3">
                            <label asp-for="Cliente.Nome">Insira o nome do cliente</label>
                            <input required type="text" asp-for="Cliente.Nome" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cliente.CPF">Insira o cpf do cliente</label>
                            <input required type="text" asp-for="Cliente.CPF" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cliente.Telefone">Insira o telefone do cliente</label>
                            <input required type="text" asp-for="Cliente.Telefone" class="form-control">
                        </div>


                        <div class="mb-3">
                            <label asp-for="DataVenda">Selecione a data da venda.</label>
                            <input required type="date" asp-for="DataVenda" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="PrecoVenda">Selecione o preço da venda</label>
                            <input required asp-for="PrecoVenda" class="form-control">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Inserir Veiculo</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>        

          document.addEventListener("DOMContentLoaded",quandoPaginaCarregada);

          function quandoPaginaCarregada(){
              let hoje = new Date();
              let dataVenda = document.getElementById("DataVenda");
              dataVenda.max = hoje.toISOString().split("T")[0];
              dataVenda.min = new Date(hoje.setMonth(hoje.getMonth() - 1)).toISOString().split("T")[0];
          }    

    </script>

}