﻿@{
    ViewData["Title"] = "Visualização de Venda";   
}

@model ModeloVisualizaçãoVenda


<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Visualização de Venda
                        <a asp-controller="Venda" asp-action="Listagem" class="btn btn-danger float-end">Voltar</a>
                    </h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Venda" asp-action="Criar" method="POST">

                        <div class="mb-3">
                            <label asp-for="Veiculo.Modelo">Veículo</label>
                            <input disabled type="text" asp-for="Veiculo.Modelo" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Concessionaria.Nome">Concessionária</label>
                            <input disabled type="text" asp-for="Concessionaria.Nome" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Concessionaria.Endereco">Endereço da Concessionária</label>
                            <input disabled type="text" asp-for="Concessionaria.Endereco" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cliente.Nome">Cliente</label>
                            <input disabled type="text" asp-for="Cliente.Nome" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cliente.Telefone">Contato do Cliente</label>
                            <input disabled type="text" asp-for="Cliente.Telefone" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="DataVenda">Data da venda</label>
                            <input disabled type="date" asp-for="DataVenda" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="PrecoVenda">Preço da venda</label>
                            <input disabled asp-for="PrecoVenda" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label asp-for="ProtocoloVenda">Data da venda</label>
                            <input disabled asp-for="ProtocoloVenda" class="form-control">
                        </div>                        

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>