﻿@{
    ViewData["Title"] = "Novo Cliente";

    List<string> erros = ViewBag.Erros;

    
}

@model ModeloInserçãoCliente

@if (erros is not null && erros.Any())
{
    <ul>
        @foreach (string erro in erros)
        {

            <li><p style="color:red">@erro</p></li>
        }
    </ul>

}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Novo Cliente
                        <a asp-controller="Cliente" asp-action="Listagem" class="btn btn-danger float-end">Voltar</a>
                    </h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Cliente" asp-action="Criar" method="POST">

                        <div class="mb-3">
                            <label asp-for="Nome">Preencha o nome do Cliente</label>
                            <input required asp-for="Nome" type="text" class="form-control">
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="CPF">Insira o CPF do Cliente</label>
                            <input required asp-for="CPF" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Telefone">Insira o telefone do Cliente</label>
                            <input required asp-for="Telefone" type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Inserir Cliente</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

