@{
    ViewData["Title"] = "Clientes";
    bool podeInserir = ViewBag.PodeInserir;
    bool podeAtualizar = ViewBag.PodeAtualizar;
}

@model List<ModeloVisualizaçãoCliente>

<div class="container mt-4">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Clientes
                        @if (podeInserir)
                        {
                            <a asp-controller="Cliente" asp-action="Criar" class="btn btn-primary float-end">Novo Cliente</a>

                        }
                        else
                        {
                            <a class="disabled btn btn-primary float-end">Novo Cliente</a>
                        }

                    </h4>
                </div>
                <div class="card-body">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">CPF</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (ModeloVisualizaçãoCliente cliente in this.Model)
                            {
                                <tr>
                                    <td>@cliente.Nome</td>
                                    <td>@cliente.CPF</td>
                                    <td>@cliente.Telefone</td>
                                    <td>
                                        @if (podeAtualizar)
                                        {
                                            <a asp-route-id="@cliente.ClienteId" asp-controller="Cliente" asp-action="Editar" class="btn btn-success btn-sm">Editar</a>
                                        }
                                        else
                                        {
                                            <a class="disabled btn btn-success btn-sm">Editar</a>
                                        }


                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>